@page "/shelter-dashboard"
@rendermode InteractiveServer

@using Furever_Homes.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Radzen
@using Radzen.Blazor
@using Furever_Homes.Services

@inject Furever_Homes.Models.ForeverDatabaseContext DbContext
@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUser
<h2>Welcome employee! What would you like to do?</h2>

<RadzenButton Text="Add Animal ➕" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Click="AddAnimal" />
<RadzenButton Text="View Animals 🔍" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Click="ViewAnimals" />
<RadzenButton Text="Edit Account" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Click="EditAccount" />
<RadzenButton Text="View Applications" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Click="ViewApplications" />

@code {

    protected override async Task OnInitializedAsync()
    {
        //Not logged in
        if (!CurrentUser.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/sign-in");
            return;
        }

        //Wrong user type
        if (CurrentUser.UserType != "Shelter")
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        //Safe to load shelter dashboard
        var userId = CurrentUser.UserId;


        var shelter = await DbContext.Shelters
            .FirstOrDefaultAsync(s => s.ApplicationUserId == CurrentUser.UserId);

        if (shelter == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
    }

    private void AddAnimal()
    {
        NavigationManager.NavigateTo("/shelter-dashboard/add-animal");
    }

    private void ViewAnimals()
    {
        NavigationManager.NavigateTo("/shelter-dashboard/view-animals");
    }

    private void EditAccount()
    {
        NavigationManager.NavigateTo("/edit-account");
    }

    private void ViewApplications()
    {
        NavigationManager.NavigateTo("/shelter-dashboard/applications");
    }
}
