@page "/"
@using Radzen.Blazor

<PageTitle>
    Furever Homes
</PageTitle>

<div class="homescreen">
    <RadzenText TextStyle="TextStyle.H4">
        Find your perfect companion! 
    </RadzenText>
<RadzenButton Text="Get Started" ButtonStyle="Radzen.ButtonStyle.Primary" Click="@GoToWelcome"/>
</div>

@code{
    [Inject] NavigationManager Nav{ get; set; }
    void GoToWelcome()
    {
        Nav.NavigateTo("/sign-in");
    }
}