@page "/"
@using Radzen.Blazor

<PageTitle>Furever Homes</PageTitle>
<PageTitle>
    Furever Homes
</PageTitle>

<div class="homescreen">
    <RadzenText TextStyle="TextStyle.H4">
        Find your perfect companion!
    </RadzenText>
    <RadzenButton Text="Get Started" ButtonStyle="Radzen.ButtonStyle.Primary" Click="@GoToSignIn" />
</div>

@code {
    [Inject] NavigationManager Nav { get; set; }
    void GoToSignIn()
    {
        Nav.NavigateTo("/sign-in");
    }
}