@page "/Welcome"
@using Radzen.Blazor
<h3>Welcome</h3>

<RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 600px;">
    
    <RadzenTemplateForm Data=@("LoginWithRegister") Action="/Browse">
        <RadzenLogin AllowResetPassword="false" />
    </RadzenTemplateForm>
    
</RadzenCard>

@code {

}